{% extends 'base.html.twig' %}

{% block title %}MVC - Users {% endblock %}

{% block body %}
<div class="container">
    <h1>Tous les utilisateurs</h1>

    <a href="{{ path("users/add") }}">
        <button type="button" class="btn btn-primary mb-3">Ajouter un password</button>
    </a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
